* {
    margin    : 0;
    padding   : 0;
    border    : none;
    box-sizing: border-box;
}

:root {
    --current-value: rgb(255, 71, 84);
}

body {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    min-height     : 100vh;

    font-family: 'Open Sans', sans-serif;

    background: var(--current-value);
}

span {
    font-weight: 400;
    font-size: 2rem;

    color: #121212;
}

button {
    font-size  : .8rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color      : rgba(255, 255, 255, .8);

    padding  : 1rem;
    min-width: 20rem;
    border-radius: .2rem;

    margin-top: 3rem;
    background: #121212;

    user-select: none;

    transition: transform .2s;
}

button:hover {
    cursor: pointer;
    transform: translateY(-.4rem);
}

