* {
    margin    : 0;
    padding   : 0;
    border    : none;
    box-sizing: none;
}

body {
    min-height     : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    font-family: 'Open Sans', sans-serif;
}

img {
    width: 35rem;
    height: 20rem;
    object-fit: cover;
    margin: 25px;
    border-radius: 4px;
    box-shadow: 0 3px 35px rgb(127, 127, 148);

    opacity: 0;
    transform: scale(.7);
    transition: opacity .25s, transform .25s;
}

.fade {
    opacity: 1;
    transform: scale(1);
}